@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: black;
    color: #f6f6f6;
}

.cabecalho {
    padding: 2% 0% 0% 10%;
}

.cabecalho_menu {
    display: flex;
    gap: 80px;
}

.cabecalho_menu_link {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #22D4FD;
}
.pagina_inicial {
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pagina_inicial_conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao_conteudo_titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}
.titulo_destaque {
    color: aqua;
}
.apresentacao_conteudo_texto {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}
.apresentacao_conteudo_subtitulo {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.apresentacao_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao_links_link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid;
    border-color: #22D4FD;
    width: 280px;
    font-size: 24px;
    padding: 21.5px 0;
    text-align: center;
    border-radius: 16px;
    text-decoration: none;
    color: #f6f6f6;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.apresentacao_links_link:hover {
    background: #272727;
}

.rodape {
    color: #000;
    background-color: #22D4FD;
    padding: 24px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
